body {
  font-family: "Open Sans", sans-serif;
  color: white;
}
.card-body {
  padding: 30px;
}
.card {
  display: block;
  margin: 100px auto 0;
  max-width: 90%;
  border-radius: 30px;
  background-color: black;
}
.search {
  padding: 0 15px 30px;
}
.searchEngine {
  margin: 0 20px 0 0;
  width: 400px;
}
.searchEngine::placeholder {
  opacity: 0.7;
}

.celc,
.fahr {
  color: white;
  opacity: 0.7;
}
.celc:hover,
.fahr:hover {
  color: paleturquoise;
  opacity: 0.7;
  text-align: none;
}

.searchEngine::placeholder {
  font-weight: 400;
}

.button,
.locationButton {
  padding: 5px 30px;
  border-radius: 50px;
  transition: all 200ms ease-in-out;
}
.button {
  color: white;
  border: 2px solid rgb(209, 70, 122);
  background-color: rgb(209, 70, 122);
}
.locationButton {
  margin-left: 20px;
  color: black;
  border: 2px solid white;
  background-color: white;
}
.button:hover,
.todayIcon,
.forecastIcon,
h5 {
  font-weight: 600;
  color: rgb(209, 70, 122);
}
.button:hover,
.locationButton:hover {
  background-color: transparent;
}
.locationButton:hover {
  color: white;
}
.today {
  padding: 0 0 30px;
}

.todayIcon {
  font-size: 70px;
  width: 100%;
  text-align: center;
  padding-right: 15px;
}
.todayTemp {
  padding: 0 0 0 5px;
}
h2 {
  font-size: 60px;
  text-align: right;
  font-weight: 300;
}
h5 {
  font-size: 20px;
}
h6 {
  opacity: 0.7;
}
p {
  margin-top: 10px;
}
.todayData {
  padding: 0;
  text-align: right;
}
.forecast {
  text-align: center;
}
.forecastIcon {
  font-size: 40px;
  width: 100%;
  padding: 15px 0;
}
.forecastTemp {
  margin: 0;
  font-weight: 300;
}
